*
    {
     margin:10px auto;
    }
    #navigation
        {
            background-color:lightgreen;
            border: solid lightcoral;
        }
    #button
        {
            align-content: center;
            padding: 1px 20px 5px 200px;
        }
    h1
    {
     text-align:center;
     color:blue;
    }
    h2
        {
         padding: 20px;
         text-align:center;
         color:blue;
        }
    form
    {
     height:300px;
     width:1000px;
    }