.container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            padding-top: 20px;
            background-color:lightgreen;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

        h1 {
            color: blue;
            text-align: center;
        }
        h2 {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: blueviolet;
            text-align: center;
        }

        .error-message {
            color: #ff0000;
            margin-bottom: 10px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px 0px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        input[type="submit"] {
            background-color: purple;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: grey;
        }